<div class="main_group">
  <h1 class="hh1">Список дисциплин группы: <%= @ddd %></h1>


<table>
  <% if Discipline.where(group_id: @ddd).count > 0 %>
  <% @disciplines.each do |discipline| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description">
            <a href="<%= teaching_materials_tsearch_path(:discipline_id => discipline.discipline) %>"><dt>
              <%= discipline.discipline %>
            </dt></a>
        </td>
        <td class="descript">
            <dd>
              Преподаватель: <%= truncate(strip_tags(discipline.teacher), length: 80) %>
            </dd>
            <dd>
              Семестр: <%= truncate(strip_tags(discipline.semester), length: 80) %>
            </dd>
          <dd>
            Группа: <%= truncate(strip_tags(discipline.group_id), length: 80) %>
          </dd>
        </td>
        <% if session[:user_id] %>
        <td class="list_action">
          <%= link_to 'Изменить', edit_discipline_path(discipline) %><br/>
          <%= link_to 'Удалить', discipline, method: :delete, data: { confirm: 'Вы уверены?' } %>
        </td>
        <% end %>
      </tr>
  <% end %>
      <% end %>
</table>


<br>

  <% if session[:user_id] %>
      <%= link_to 'Добавить дисциплину', new_discipline_path %>
  <% end %>
</div>