<div id="admin">
<h1>Добро пожаловать!</h1>
<p>Сейчас <%= Time.now %></p>
</div>

<div>
  <table>
    <tr>
      <a href="<%= disciplines_find_semester_path(:semester => 1) %>" <td>1</td> </a>
      <a href="<%= disciplines_find_semester_path(:semester => 2) %>" <td>2</td> </a>
    </tr>
    <tr>
      <a href="<%= disciplines_find_semester_path(:semester => 3) %>" <td>3</td> </a>
      <a href="<%= disciplines_find_semester_path(:semester => 4) %>" <td>4</td> </a>
    </tr>
    <tr>
      <a href="<%= disciplines_find_semester_path(:semester => 5) %>" <td>5</td> </a>
      <a href="<%= disciplines_find_semester_path(:semester => 6) %>" <td>6</td> </a>
    </tr>
    <tr>
      <a href="<%= disciplines_find_semester_path(:semester => 7) %>" <td>7</td> </a>
      <a href="<%= disciplines_find_semester_path(:semester => 8) %>" <td>8</td> </a>
    </tr>
  </table>
</div>