<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="border-color: #97240a;">
  <div class="field">
    <%= form.label :Группа %>
    <%= form.text_field :group, id: :group_group, class: 'edit_input' %>
  </div>

  <div class="field">
    <%= form.label :Специальность %>
    <%= form.text_field :specialty_id, id: :group_specialty_id, class: 'edit_input' %>
  </div>

  <div class="field">
    <%= submit_tag "Сохранить", class: 'edit_button' %>
  </div>
    </fieldset>
<% end %>
