

<div class="show_form">
  <h2 id="notice"><%= notice %></h2>

   <br>
<p>
  <strong>Номер группы:</strong>
  <%= @group.group %>
</p>

<p>
  <strong>Специальность:</strong>
  <%= @group.specialty_id %>
</p>

<%= link_to 'Изменить', edit_group_path(@group) %> |
<%= link_to 'В меню', groups_path %>

    </div>
