<!DOCTYPE html>
<html>
  <head>
    <title>МИНСКИЙ ИННОВАЦИОННЫЙ УНИВЕРСИТЕТ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body class='<%= controller.controller_name %>'>

  <div id="header">
    <a href="<%= client_index_url %>"><h2>МИНСКИЙ ИННОВАЦИОННЫЙ УНИВЕРСИТЕТ</h2></a>

    <% if session[:user_id] %>
        <ul class="ul">
          <%= button_to 'Выйти', logout_path, method: :delete, id: 'logout_b' %>
          <li class="logout_b"><%= link_to 'Группы', groups_path %></li>
          <li class="logout_b"><%= link_to 'Дисциплины', disciplines_path %></li>
          <li class="logout_b"><%= link_to 'Методические материалы', teaching_materials_path %></li>
        </ul>
    <% end %>
  </div>

  <div id="wrapper">
    <div id="main"><%= yield %></div>
    <footer>
      <td>
        <%= image_tag("miu.png", class: 'miu_image') %>
      </td>
      <h4 id="copy">Все права защищены.&copy;</h4>
    </footer>
  </div>
  </body>
</html>
